RELY_API_TOKEN=
RELY_API_URL=https://magneto-api-dev.rely.io

RELY_GALAXY_API_TOKEN=

RELY_INTEGRATION_TYPE=
RELY_INTEGRATION_ID=
RELY_INTEGRATION_DEBUG=False
RELY_INTEGRATION_EXECUTION_TYPE=
RELY_INTEGRATION_SCHEDULED_INTERVAL=

# Gitlab
RELY_INTEGRATION_GITLAB_SECRET_TOKEN=
RELY_INTEGRATION_GITLAB_ORGANIZATION=
RELY_INTEGRATION_GITLAB_URL=

# Github
RELY_INTEGRATION_GITHUB_APP_ID=
RELY_INTEGRATION_GITHUB_INSTALLATION_ID=
RELY_INTEGRATION_GITHUB_APP_PRIVATE_KEY=
RELY_INTEGRATION_GITHUB_ORGANIZATION=
RELY_INTEGRATION_GITHUB_URL=
